name: Nix CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install Nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Run Nix build (includes tests)
      run: nix build .#default
